package layouts

type BaseProps struct {
	Title       string
	Description string
}

templ Base(props BaseProps) {
	<html lang="en">
		<head>
			<title>{ props.Title }</title>
			<meta name="description" content={ props.Description }/>

			// htmx
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>

			// tailwind generated styles
			<link rel="stylesheet" href="/static/styles.css"/>
		</head>
		<body class="dark:bg-gray-900 dark:text-white">
			{ children... }
		</body>
	</html>
}
